li {
font-size: 24px;
color: #d8be55;
text-decoration: underline;
cursor: pointer;
}
li:hover {
  color: rgb(217, 83, 79);
}

.btn {
  border-radius: 4px;
}

#catpic {
  margin-top: 20px;
  width: 150px;
}

#dogpic {
  margin-top: 20px;
  width: 280px;
}
